/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.attributes {
  display: flex;
  flex-wrap: wrap;
}

.attributes > * + * {
  margin-left: 0.5rem;
}

.attributes > span {
  color: white;
  background: #6c63ff;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  line-height: 1;
}
